<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngFor="let navigation of navigations; let index=index" class="nav-item active">
        <a class="nav-link" routerLink={{navigation.path}}>{{navigation.name}}</a>
      </li>

      <li>
      <button (click)="handleLoadMoreVideos()" class="btn btn-outline-primary my-2 my-sm-0">Load More</button>
        
      </li>
    </ul>


  <form (submit)="handleSearchSubmit()" class="form-inline my-2 my-lg-0">
    <input id="searchYoutube" class="form-control mr-sm-2" #inputValue type="text" placeholder="Search Youtube">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>


  </div>
</nav>