.navbar {
    background-color: #96befb;
}
.glyphicon {
    font-size: 30px;
}
.nav-item {
    font-size:16px;
}
.navbar-default .navbar-brand {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 26px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    color: white;
    
}