<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css" />
<navbar></navbar>
<!--<search></search>-->

<div class="container">
    <hr />    
        <div class="row">
            <div *ngFor="let product of Products">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img width="250" height="250" src={{product.src}} />
                        <span class="badge">{{product.id}}</span> {{product.name}}
                        <p>{{product.info}}</p>
                        <h1 class="badge">${{product.price}}</h1>
                        <button class="btn btn-sm btn-primary">Add to Cart</button>
                    </div>
                </div>

            </div>
        </div>
</div>
