<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css" />
<navbar></navbar>
<!--<search></search>-->

<div class="container">
    <h3 class="text-center">Available Products</h3>
    <hr />    

        <div *ngFor="let product of Products">
            <div class="col-xs-3">
                <div class="thumbnail">
                    <span class="badge">{{product.id}}</span> {{product.name}}
                    <img width="250" height="250" src={{product.src}} />
                </div>
            </div>

        </div>
</div>
