<product-detail [selectedProduct]="selectedProduct"></product-detail>

<div class="row">
    <div *ngFor="let product of products" (mouseenter)="mouseEnter(product)" (click)="clickedProduct(product)">
        <div class="col-xs-4">
            <div class="thumbnail product">
                <img width="250" height="250" src={{product.src}} />
                <span class="badge">{{product.id}}</span> {{product.name}}
                <p>{{product.info}}</p>
                <h1 class="badge">${{product.price}}</h1>
                <button class="btn btn-sm btn-primary">Add to Cart</button>
            </div>
        </div>

    </div>
</div>
