/* You can add global styles to this file, and also import other style files */
.btn-primary {
    background-color: #585b6f;
}

.btn-success {
    background-color:  #929abf;
}

.btn-danger {
    background-color: #ce7a7d;
}

.padding-right-5 {
    padding-right: 5px;
}